<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="../../static/assets/css/public.css"/>
    <link rel="stylesheet" href="../../static/assets/css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <style>
        * {
            margin: 0;
            padding: 0;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            font-size: 12px;
            line-height: 1.5;
            color: #495060;
            background-color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: #fff;
        }

        /* 可编辑表格 */

        .el-tb-edit .el-input,
        .el-tb-edit .el-input-number,
        .el-tb-edit .el-select {
            display: none;
            width: 100%;
        }

        .el-tb-edit .current-row .el-input,
        .el-tb-edit .current-row .el-input-number,
        .el-tb-edit .current-row .el-select {
            display: inherit;
        }

        .el-tb-edit .current-row .el-input+span,
        .el-tb-edit .current-row .el-input-number+span,
        .el-tb-edit .current-row .el-select+span {
            display: none;
        }
    </style>
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市账单管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
        <a href="/logout/">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li><a href="/user/bills/">账单管理</a></li>
                <li id="active"><a href="/user/providers/">供应商管理</a></li>
                <li><a href="/admin/">用户管理</a></li>
                <li><a href="/user/change_password/">密码修改</a></li>
                <li><a href="/logout/">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面</span>
        </div>
        <div id="app">
        <div class="search">
            <span>供应商名称：</span>
            <input type="text" placeholder="请输入供应商的名称" v-model="toSearch"/>
            <!-- <input type="button" value="查询"/> -->
            <el-button
                icon="el-icon-search"
                circle
                @click="handleSearch">
            </el-button>
            <!-- <a href="providerAdd.html">添加供应商</a> -->
        </div>
        <!--供应商操作表格-->
        <!-- <div id="app"> -->
            <template>
                <el-button size="mini" @click="addOne">+</el-button>
              <el-table :data="tableData"
                        stripe
                        highlight-current-row
                        border
                        style="width: 100%"
                        class="el-tb-edit"
                        @current-change="handleCurrentChange"
                        ref="demoTable">
                <el-table-column fixed prop="provider_sn" label="供应商编码" width="200">
                    <template slot-scope="scope">
                        <el-input size="small" v-model="scope.row.provider_sn" placeholder="请输入内容"></el-input>
                        <span>{[scope.row.provider_sn]}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="provider_name" label="供应商名称" width="200">
                    <template slot-scope="scope">
                        <el-input size="small" v-model="scope.row.provider_name" placeholder="请输入内容"></el-input>
                        <span>{[scope.row.provider_name]}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="contact" label="联系人" width="150">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.contact"
                        size="small" placeholder="请输入内容"></el-input>
                        <span>{[scope.row.contact]}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="telephone" label="电话" width="150">
                    <template slot-scope="scope">
                        <el-input size="small" v-model="scope.row.telephone" placeholder="请输入内容"></el-input>
                        <span>{[scope.row.telephone]}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="fax" label="传真" width="150">
                    <template slot-scope="scope">
                        <el-input size="small" v-model="scope.row.fax" placeholder="请输入传真号"></el-input>
                        <span>{[scope.row.fax]}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="address" label="地址" width="200">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.address"
                        size="small" placeholder="请输入地址"></el-input>
                        <span>{[scope.row.address]}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="description" label="描述" width="200">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.description"
                        size="small" placeholder="请输入内容"></el-input>
                        <span>{[scope.row.description]}</span>
                    </template>
                </el-table-column>

                <el-table-column prop="created_at" label="时间" width="150">
                    <template slot-scope="scope">
                        <span>{[scope.row.created_at]}</span>
                    </template>
                </el-table-column>

                <el-table-column label="操作" width="300">
                  <template slot-scope="scope">
                      <el-button
                           size="mini"
                           type="danger"
                           icon="el-icon-delete"
                           @click="handleDelete(scope.$index, scope.row)">删除
                      </el-button>
                      <el-button
                           size="mini"
                           type="success"
                           icon="el-icon-edit"
                           @click="handleEdit(scope.$index, scope.row)">更新
                      </el-button>
                      <el-button
                           size="mini"
                           type="primary"
                           icon="el-icon-upload"
                           @click="handleAdd(scope.$index)">提交
                      </el-button>
                  </template>
                </el-table-column>
              </el-table>
            </template>
        </div>

    </div>
</section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeProv">
   <div class="removerChid">
       <h2>提示</h2>
       <div class="removeMain" >
           <p>你确定要删除该供应商吗？</p>
           <a href="#" id="yes">确定</a>
           <a href="#" id="no">取消</a>
       </div>
   </div>
</div>


<footer class="footer">
</footer>

<script src="../../static/assets/js/jquery.js"></script>
<script src="../../static/assets/js/js.js"></script>
<script src="../../static/assets/js/time.js"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui@2.4.4/lib/index.js"></script>

<script>
    var app;
    (function () {
        app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            data: {
                toSearch: "",
                tableData: [],
                currentRow: null,
            },
            created: function () {
                Vue.prototype.$http = axios;
                axios.get('/user/api/provider/list/')
                    .then(function (res) {
                        if (res.data.status_code === 0) {
                            var providers = res.data.data;
                            this.app.tableData = providers;
                        }
                }).catch(function (error) {
                    console.log(error);
                })
            },
            methods: {
                handleCurrentChange(val) {
                    this.currentRow = val;
                },
                addOne() {
                    let d = {
                        provider_sn: "",
                        created_at: new Date().toISOString().split('T')[0],
                        provider_name: "",
                        telephone: "",
                        contact: "",
                        description: "",
                        address: "",
                        fax: ""
                    };
                    app.tableData.push(d);
                    setTimeout(() => { this.$refs.demoTable.setCurrentRow(d); }, 10);//<==用于延时渲染后选中这行
                },
                handleDelete(index, deleteCount) {
                    // let row = JSON.stringify(app.tableData[index]);
                    let row = app.tableData[index];
                    let url = '/user/api/provider/delete/';
                    if (row['provider_sn'] !== "") {
                        axios.post(url, {"provider_sn": row['provider_sn']})
                            .then(function (res) {
                                // if (res.data['status_code'] === 0)
                                    app.tableData.splice(index, 1);
                                    alert(res.data['messages']);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                    else {
                        app.tableData.splice(index, 1);
                    }
                },
                handleAdd(index) {
                    let row = app.tableData[index];
                    let url = '/user/api/provider/add/';
                    axios.post(url, row)
                        .then(function (res) {
                            // if (res.data['status_code'] === 0)
                                alert(res.data['messages']);
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                },
                handleEdit(index) {
                    let row = app.tableData[index];
                    let url = '/user/api/provider/edit/';
                    if (row['provider_sn'] !== "") {
                        axios.post(url, row)
                            .then(function (res) {
                                // if (res.data['status_code'] === 0)
                                    alert(res.data['messages']);
                            })
                            .catch(function (error) {
                                console.log("failed")
                            });
                    }
                    else {
                        console.log('failed')
                    }
                },
                handleSearch: function() {
                    let url = '/user/api/provider/search/';
                    // alert(this.toSearch);
                    if (this.toSearch !== "") {
                        axios.post(url, {'provider_name': this.toSearch})
                            .then(function (res) {
                                if (res.data['status_code'] === 0) {
                                    this.app.tableData = res.data.data;
                                    // alert(res.data['messages']);
                                }
                                else {
                                    alert(res.data['messages']);
                                }
                            })
                            .catch(function (error) {
                                console.log("failed")
                            });
                    }
                    else {
                        alert("please check input");
                        console.log('failed');
                    }
                }
            }
        });
    })()
</script>

</body>
</html>