<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="../../static/assets/css/public.css"/>
    <link rel="stylesheet" href="../../static/assets/css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
        }

        body {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            font-size: 12px;
            line-height: 1.5;
            color: #495060;
            background-color: #fff;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: #fff;
        }

        /* 可编辑表格 */

        .el-tb-edit .el-input,
        .el-tb-edit .el-input-number,
        .el-tb-edit .el-select {
            display: none;
            width: 100%;
        }

        .el-tb-edit .current-row .el-input,
        .el-tb-edit .current-row .el-input-number,
        .el-tb-edit .current-row .el-select {
            display: inherit;
        }

        .el-tb-edit .current-row .el-input+span,
        .el-tb-edit .current-row .el-input-number+span,
        .el-tb-edit .current-row .el-select+span {
            display: none;
        }
    </style>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1>超市账单管理系统</h1>
        <div class="publicHeaderR">
            <p><span>下午好！</span><span style="color: #fff21b"> Admin</span> , 欢迎你！</p>
            <a href="/logout/">退出</a>
        </div>
    </header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li ><a href="/user/bills/">账单管理</a></li>
                    <li><a href="/user/providers/">供应商管理</a></li>
                    <li id="active"><a href="/admin/">用户管理</a></li>
                    <li><a href="/user/change_password/">密码修改</a></li>
                    <li><a href="/logout/">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>用户管理页面</span>
            </div>
            <div id="app">
            <div class="search">
                <span>用户名：</span>
                <input type="text" placeholder="请输入用户名" v-model="toSearch" />
                <!-- <input type="button" value="查询" /> -->
                <el-button
                    icon="el-icon-search"
                    circle
                    @click="handleSearch">
                </el-button>
                <a href="/admin/add/">添加用户</a>
            </div>
            <!--用户-->
            <!-- <div id="app"> -->
                <template>
                    <!-- <el-button size="mini" @click="addOne">+</el-button> -->
                  <el-table :data="tableData"
                            stripe
                            highlight-current-row
                            border
                            style="width: 100%"
                            class="el-tb-edit"
                            @current-change="handleCurrentChange"
                            ref="demoTable">
                    <el-table-column fixed prop="user_sn" label="用户编码" width="150">
                        <template slot-scope="scope">
                            <!-- <el-input size="small" v-model="scope.row.user_sn" placeholder="请输入内容"></el-input> -->
                            <span>{[scope.row.user_sn]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="username" label="用户名" width="120">
                        <template slot-scope="scope">
                            <!-- <el-input size="small" v-model="scope.row.username" placeholder="请输入内容"></el-input> -->
                            <span>{[scope.row.username]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="gender" label="性别" width="100">
                        <template slot-scope="scope">
                            <el-select v-model="scope.row.gender" clearable placeholder="请选择">
                                <el-option
                                  v-for="item in genderOptions"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value"
                                  size="small">
                                </el-option>
                            </el-select>
                            <span>{[scope.row.gender]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="age" label="年龄" width="150">
                        <template slot-scope="scope">
                            <el-input-number v-model="scope.row.age"
                            size="small" :min="0" :max="200"></el-input-number>
                            <span>{[scope.row.age]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="telephone" label="电话" width="150">
                        <template slot-scope="scope">
                            <el-input size="small" v-model="scope.row.telephone" placeholder="请输入内容"></el-input>
                            <span>{[scope.row.telephone]}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="address" label="地址" width="200">
                        <template slot-scope="scope">
                            <el-input size="small" v-model="scope.row.address" placeholder="请输入内容"></el-input>
                            <span>{[scope.row.address]}</span>
                        </template>
                    </el-table-column>
                    <el-table-column prop="role" label="用户类型" width="150">
                        <template slot-scope="scope">
                            <el-select v-model="scope.row.role" clearable placeholder="请选择">
                                <el-option
                                  v-for="item in roleOptions"
                                  :key="item.value"
                                  :label="item.label"
                                  :value="item.value"
                                  size="small">
                                </el-option>
                            </el-select>
                            <span>{[scope.row.role]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column prop="birthday" label="出生日期" width="150">
                        <template slot-scope="scope">
                            <el-date-picker
                                  v-model="scope.row.birthday"
                                  type="date"
                                  size="small"
                                  placeholder="选择日期">
                            </el-date-picker>
                            <span>{[scope.row.birthday]}</span>
                        </template>
                    </el-table-column>

                    <el-table-column label="操作" width="200">
                      <template slot-scope="scope">
                          <el-button
                               size="mini"
                               type="danger"
                               icon="el-icon-delete"
                               @click="handleDelete(scope.$index, scope.row)">删除
                          </el-button>
                          <el-button
                               size="mini"
                               type="success"
                               icon="el-icon-upload"
                               @click="handleEdit(scope.$index, scope.row)">更新
                          </el-button>
                      </template>
                    </el-table-column>
                  </el-table>
                </template>
            </div>

    </section>

<footer class="footer">
</footer>

<script src="../../static/assets/js/jquery.js"></script>
<script src="../../static/assets/js/js.js"></script>
<script src="../../static/assets/js/time.js"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui@2.4.4/lib/index.js"></script>

<script>
    var app;
    (function () {
        app = new Vue({
            el: "#app",
            delimiters: ['{[', ']}'],
            data: {
                toSearch: "",
                tableData: [],
                genderOptions: [{
                    value: '男',
                    label: '男'
                    }, {
                    value: '女',
                    label: '女'
                }],
                roleOptions: [{
                    value: 'Administrator',
                    label: '管理员'
                    }, {
                    value: 'Aamaldar',
                    label: '经理'
                    }, {
                    value: 'User',
                    label: '普通用户'
                }],
                currentRow: null,
            },
            created: function () {
                Vue.prototype.$http = axios;
                axios.get('/admin/api/list/')
                    .then(function (res) {
                        if (res.data.status_code === 0) {
                            let users = res.data.data;
                            for (x in users) {
                                let gender = users[x].gender;
                                if (gender === true) {
                                    users[x].gender = '女';
                                }
                                else {
                                    users[x].gender = '男';
                                }
                            }
                            this.app.tableData = users;
                        }
                        else {
                            alert(res.data['messsages']);
                        }
                }).catch(function (error) {
                    console.log(error);
                })
            },
            methods: {
                handleCurrentChange(val) {
                    this.currentRow = val;
                },
                addOne() {
                    let d = {
                        user_sn: "",
                        birthday: new Date(),
                        username: "",
                        telephone: "",
                        gender: '男',
                        age: 0,
                        role: "User",
                        address: ""
                    };
                    app.tableData.push(d);
                    setTimeout(() => { this.$refs.demoTable.setCurrentRow(d); }, 10);//<==用于延时渲染后选中这行
                },
                handleDelete(index, deleteCount) {
                    // let topost = JSON.stringify(app.tableData[index]);
                    let row = app.tableData[index];
                    let url = '/admin/api/delete/';
                    if (row['user_sn'] !== "") {
                        axios.post(url, {"user_sn": row['user_sn']})
                            .then(function (res) {
                                if (res.data['status_code'] === 0) {
                                    app.tableData.splice(index, 1);
                                    alert(res.data['messages']);
                                }
                                else {
                                    alert(res.data['messages']);
                                }
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                    else {
                        app.tableData.splice(index, 1);
                    }
                },
                // handleEdit(index) {
                //     window.location.href = '/admin/edit/';
                // },
                handleEdit(index) {
                    let row = app.tableData[index];
                    let url = '/admin/api/edit/';
                    if (row['user_sn'] !== "") {
                        var birthday = row['birthday'];
                        birthday = birthday.toISOString().split('T')[0];
                        axios.post(url, row)
                            .then(function (res) {
                                if (res.data['status_code'] === 0) {
                                    alert(res.data['messages']);
                                }
                                else {
                                    alert(res.data["messages"]);
                                }
                            })
                            .catch(function (error) {
                                console.log("failed")
                            });
                    }
                    else {
                        console.log('failed')
                    }
                },
                handleSearch: function() {
                    let url = '/admin/api/search/';
                    // alert(this.toSearch);
                    if (this.toSearch !== "") {
                        axios.post(url, {'username': this.toSearch})
                            .then(function (res) {
                                if (res.data['status_code'] === 0) {
                                    this.app.tableData = res.data.data;
                                    // alert(res.data['messages']);
                                }
                                else {
                                    alert(res.data['messages']);
                                }
                            })
                            .catch(function (error) {
                                console.log("failed")
                            });
                    }
                    else {
                        alert("please check input");
                        console.log('failed');
                    }
                }
            }
        });
    })()
</script>

</body>
</html>