<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" href="../../static/assets/css/public.css"/>
    <link rel="stylesheet" href="../../static/assets/css/style.css"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<!--头部-->
<header class="publicHeader">
    <h1>超市账单管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b">{{ current_user }}</span> , 欢迎你！</p>
        <a href="/logout/">退出</a>
    </div>
</header>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div class="left">
        <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
        <nav>
            <ul class="list">
                <li ><a href="/user/bills/">账单管理</a></li>
                <li><a href="/user/providers/">供应商管理</a></li>
                <li id="active"><a href="/admin/">用户管理</a></li>
                <li><a href="/user/change_password/">密码修改</a></li>
                <li><a href="/logout/">退出系统</a></li>
            </ul>
        </nav>
    </div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户添加页面</span>
        </div>
        <div class="providerAdd">
            <form action="/admin/add/" method="post">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="user_sn">用户编码：</label>
                    <input type="text" name="user_sn" id="user_sn" v-model="user.user_sn"/>
                    <span>*请输入用户编码，且不能重复</span>
                </div>
                <div>
                    <label for="username">用户名称：</label>
                    <input type="text" name="username" id="username" v-model="user.username"/>
                    <span >*请输入用户名称</span>
                </div>
                <div>
                    <label for="password">用户密码：</label>
                    <input type="password" name="password" id="password" v-model="user.password"/>
                    <span>*密码长度必须大于6位小于20位</span>

                </div>
                <div>
                    <label for="confirm_password">确认密码：</label>
                    <input type="password" name="confirm_password" id="confirm_password" v-model="user.confirm_password"/>
                    <span>*请输入确认密码</span>
                </div>
                <div>
                    <label >用户性别：</label>

                    <select name="gender">
                        <option value="man" v-model="user.gender">男</option>
                        <option value="woman" v-model="user.gender">女</option>
                    </select>
                    <span></span>
                </div>
                <div>
                    <label for="birthday">出生日期：</label>
                    <input type="text" name="birthday" id="birthday" v-model="user.birthday"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="telephone">用户电话：</label>
                    <input type="text" name="telephone" id="telephone" v-model="user.telephone"/>
                    <span >*</span>
                </div>
                <div>
                    <label for="address">用户地址：</label>
                    <input type="text" name="address" id="address" v-model="user.address"/>
                </div>
                <div>
                    <label for="role">用户类别：</label>
                    <input type="radio" name="role" value="Administrator" v-model="user.role"/>管理员
                    <input type="radio" name="role" value="Amaldar"  v-model="user.role"/>经理
                    <input type="radio" name="role" value="User" v-model="user.role"/>普通用户
                </div>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="userList.html">返回</a>-->
                    <input type="submit" value="提交"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
<script src="../../static/assets/js/time.js"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui@2.4.4/lib/index.js"></script>

<script>
(function () {
    new Vue({
        el: "#app",
        data: {
            user: {
                user_sn: "",
                username:"",
                password: "",
                confirm_password: "",
                gender: "",
                birthday: "",
                telephone: "",
                address: "",
                role: ""
            }
        },
        methods: {
            submit: function() {
                Vue.prototype.$http = axios;
                var formData = JSON.stringify(this.user);
                axios.post('/admin/api/add/', formData)
                .then(function (res) {
                    if(res.data['status_code'] === 0) {
                        alert(res.data['messages']);
                    }
                })
                .catch(function (error){
                  console.log(error);
                });
            }
        }
    })
})
</script>

</body>
</html>